colorama==0.4.3
cycler==0.10.0
docopt==0.6.2
gitdb==4.0.4
GitPython==3.1.1
importlib-metadata==1.6.0
jsonpickle==1.4.1
kiwisolver==1.2.0
matplotlib==3.2.1
munch==2.5.0
numpy==1.18.3
packaging==20.3
py-cpuinfo==5.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
sacred==0.8.1
six==1.14.0
smmap==3.0.2
wrapt==1.12.1
zipp==3.1.0
